.App {
  text-align: center;  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.track-div {
  text-align: left;
}

.w-20 {
  width: 20%;
}

.w-200px {
  width: 200px;
}

.strokeRed {
  stroke: firebrick;
}
.tSienna {
  stroke: sienna;
}
.cDBlue {
  fill: darkblue;
  background-color: darkblue;
}
.cDCyan {
  fill: darkcyan;
  background-color: darkcyan;
}
.cDGold {
  fill: darkgoldenrod;
  background-color: darkgoldenrod;
}
.cDGreen {
  fill: darkgreen;
  background-color: darkgreen;
}
.cDKhaki {
  fill: darkkhaki;
  background-color: darkkhaki;
}
.cDOrange {
  fill: darkorange;
  background-color: darkorange;
}
.cDOrchid {
  fill: mediumorchid;
  background-color: mediumorchid;
}
.cDRed {
  fill: darkred;
  background-color: darkred;
}
.cDSGreen {
  fill: darkseagreen;
  background-color: darkseagreen;
}
.cDSBlue {
  fill: darkslateblue;
  background-color: darkslateblue;
}
.cDSGray {
  fill: darkslategray;
  background-color: darkslategray;
}
.cDTurquoise{
  fill: darkturquoise;
  background-color: darkturquoise;
}
.cDViolet {
  fill: darkviolet;
  background-color: darkviolet;
}
.cDSkyBlue {
  fill: deepskyblue;
  background-color: deepskyblue;
}
.cDPink {
  fill: deeppink;
  background-color: deeppink;
}
.cGreenYellow {
  fill: greenyellow;
  background-color: greenyellow;
}
.cOliveDrab {
  fill: olivedrab;
  background-color: olivedrab;
}

.cDBlue-outline {
  background: white;
  border-color: darkblue;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDCyan-outline {
  background: white;
  border-color: darkcyan;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDGold-outline {
  background: white;
  border-color: darkgoldenrod;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDGreen-outline {
  background: white;
  border-color: darkgreen;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDKhaki-outline {
  background: white;
  border-color: darkkhaki;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDOrange-outline {
  background: white;
  border-color: darkorange;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDOrchid-outline {
  background: white;
  border-color: mediumorchid;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDRed-outline {
  background: white;
  border-color: darkred;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDSGreen-outline {
  background: white;
  border-color: darkseagreen;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDSBlue-outline {
  background: white;
  border-color: darkslateblue;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDSGray-outline {
  background: white;
  border-color: darkslategray;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDTurquois-outline {
  background: white;
  border-color: darkturquoise;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDViolet-outline {
  background: white;
  border-color: darkviolet;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDSkyBlue-outline {
  background: white;
  border-color: deepskyblue;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cDPink-outline {
  background: white;
  border-color: deeppink;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cGreenYellow-outline {
  background: white;
  border-color: greenyellow;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
.cOliveDrab-outline {
  background: white;
  border-color: olivedrab;
  border-style: solid;
  border-width: 1px;
  color: gray;
}
